.about {
  width: 100%;
  // min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.about__container {
  margin: 2rem auto 0;
  width: 90%;
  height: 100%;

  .sub-text {
    text-align: center;
    margin-bottom: 1.3rem;
  }

  .about__col {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    max-width: 100%;
    height: 100%;

    .about__text-wrapper {
      // max-width: 600px;
      

      .about__text {
        font-size: 19px;
        line-height: 38px;
        font-weight: 200;
        color: var(--white-color);
        text-align: justify;
      }
    }

    .about__col2 {

      .image__col {
        .image {
          width: 400px;
          height: 400px;
          border-radius: 50%;
        }
      }
    //   .image__border {
    //     position: absolute;
    //     border: 1px solid red;
    //     width: 400px;
    //     height: 400px;
    //     left: 5px;
    //     bottom: 5px;
    //     z-index: 1;
    //   }
    }
  }
}

@media (max-width: 1024px) {
  .about__container {
    .about__col {
        gap: 1rem;
      .about__text-wrapper {
        margin-right: 2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .about__container {
    .about__col {
      flex-direction: column;

      .about__text-wrapper {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .about__container {
    margin: 0rem auto 3rem;
    padding: 0;
    .about__col {
      .about__text-wrapper {
        .about__text {
          font-size: 1rem;
        }
      }

      .about__col2 {
        .image__col {
          .image {
            width: 300px;
            height: 300px;
          }
        }
        .image__border {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
