.header{
    width: 100%;
    padding: 2rem 4rem 2rem 4rem;
    position: fixed;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 2;
    span{
        color: blue;
    }
    @media screen and (max-width: 900px) {
        padding: 1rem;
    }
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    // img{
    //     object-fit: cover;
    //     width: 80%;
    // }
    .logo{
        color: var(--black-color);
    }
    .logo-name{       
        font-size: 1rem;
    }
    .logo-title{
        font-size: small;
        font-weight: lighter;
    }

    .nav-menu{
        display: flex;
        align-items: center;
    }
    .nav{
        display: flex;
        gap: 2rem;
    }

    .nav li{
        list-style: none;
    }

    .nav a {
        font-size: 1rem;
          font-weight: 600;
          color: var(--black-color);
          transition: color 0.3s ease;

          &:hover {
            color: var(--secondary-color);
          }
    }

    .btn{
        // background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }

    .hamburger{
        display: none;

        .menuIcon{
            color: var(--white-color);
            font-size: 2rem;
        }
        .menuIcon2{
            color: var(--white-color);
            font-size: 2rem;
        }
    }

    .switch1{
        display: none;
    }
    .switch {
        color: var(--black-color);
    }

    @media screen and (max-width: 900px) {
        .header{
            padding: 0rem;
        }
        .hamburger{
            display: flex;

        }
        .nav{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
        
        .nav-menu{
            position: absolute;
            flex-direction: column;
            justify-content: start;
            background: var(--tetiary-color);
            width: 70%;
            left: -100%;
            top: 0px;
            z-index: 2;
            height: 100vh;
            transition: 0.5s;
            padding: 2rem;
            border-left: 1px solid #eee;
        }
        .nav-menu.active{
            left: 0%;
        }

        .nav li{
            padding: 1rem 0;
            width: 100%;
            
        }
    
        .nav a{
            font-size: 1rem;
            color: var(--whiteInverse);
            transition: color 0.3s ease;


            &:hover {
                color: var(--secondary-color);
              }
        }

        .switch{
            display: none;
        }

        .switch1{
            display: block;
            color: var(--black-color);

        }
    }
}