.header{
    width: 100%;
    padding: 2rem 7rem 0rem 5rem;
    position: fixed;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 2;

    @media screen and (max-width: 900px) {
        padding: 1rem;
    }
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav-menu{
        display: flex;
        // justify-content: space-evenly;
        align-items: center;
        // width: 80%;
    }
    .nav{
        display: flex;
        // align-self: center;
        // align-content: center;
    }

    .nav li{
        padding: 0 3rem;
    }

    .nav a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--black-color);
    }

    .btn{
        background-color: var(--secondary-color);
    }

    .hamburger{
        display: none;
    }

    @media screen and (max-width: 900px) {
        .header{
            padding: 0rem;
        }
        .hamburger{
            display: flex;
        }
        .nav{
            display: flex;
            flex-direction: column;
        }

        .nav-menu{
            position: absolute;
            flex-direction: column;
            justify-content: start;
            background-color: var(--gray-color);
            width: 70%;
            left: -100%;
            top: 0px;
            z-index: 2;
            height: 100vh;
            transition: 0.5s;
            padding: 2rem;
            border-left: 1px solid #eee;
        }
        .nav-menu.active{
            left: 0%;
        }

        .nav li{
            padding: 1rem 0;
            width: 100%;
            
        }
    
        .nav a{
            font-size: 1rem;
        }
    }
}