.contact {
  width: 100%;
  padding: 3rem 1rem;
  background-color: var(--primary-color);
  border-radius: 50px 50px 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 600px;

    h3 {
      color: var(--secondary-color);
      margin-bottom: 1rem;
      width: 100%;
    }

    .p {
      font-size: 1rem;
      color: var(--black-color);
      max-width: 500px;
      margin: 0 auto 1.5rem;
    }

    .hero__button {
      padding: 0.8rem 2rem;
      width: 260px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 30px;
      border: none;
      background-color: var(--button);
      color: var(--whiteInverse);
      box-shadow: 0px 4px 15px rgba(0, 198, 255, 0.4);
      transition: transform 0.3s ease, background 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
      }
    }

    .contact__social-icons {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      a {
        color: var(--secondary-color);
        transition: color 0.3s ease;

        &:hover {
          color: var(--button);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 1.2rem;
    .contact__container {
      h3 {
        width: 90%;
      }

      .hero__button {
        width: 90%;
        padding: 0.6rem 0rem;
        width: 240px;
      }
    }
  }
}
