.work {
  width: 100%;
  height: 100%;
  margin-top: 4rem;

  @media screen and (max-width: 800px) {
    margin-top: 1rem;
  }
}

.work__container {
  margin: 0rem auto;
  width: 90%;
  h1 {
    margin-bottom: 0rem;
  }
}

.work-portfolio {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.workContent_col2 {
  width: 60%;
  margin: 2rem;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--project-color);
  .workContent_col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      margin: 20px 0;
    }

    .workContent_col5 {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 12px;
      margin-top: 1rem;
      a {
          // color: #CBACF9;
          color: var(--secondary-color);

      }
      .arrow{
        display: flex;
        align-self: center;
        font-size: 22px;
        color: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 800px) {
    margin: 2rem auto 0;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    margin: 1rem auto 0;
    flex-direction: column;
    align-items: start;

    .workContent_col3 {
      hr {
        margin: 0.7rem;
      }

      .workContent_col5 {
        margin-top: 1rem;
      }
      .icon {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 10px;
      }
    }
  }
}

.workContent_img {
  background-color: var(--project-color2);
  width: 100%;
  border-radius: 14px;

  img {
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
  }

  @media screen and (max-width: 900px) {
    img {
      width: 100%;
      height: 100%;
      // padding-top: 10px;
      padding: 10px 10px 0px 10px;
    }
    margin-top: 0.5rem;
  }
}
